force-app/main/default/flows/Brite_update_dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Brite_Families</name>
        <label>Brite Families</label>
        <locationX>1129</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_brite_Families</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>70200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_for_brite_families</targetReference>
            </connector>
            <label>Check if brite Families</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inactive_Status</name>
        <label>Status</label>
        <locationX>168</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Product_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Elem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActiveElem</targetReference>
            </connector>
            <label>Active Elem</label>
        </rules>
        <rules>
            <name>Active_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>703</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActiveStudent</targetReference>
            </connector>
            <label>Active Student</label>
        </rules>
        <rules>
            <name>Inactive_Elem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactivatedElem</targetReference>
            </connector>
            <label>Inactive Elem</label>
        </rules>
        <rules>
            <name>Inactive_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>703</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactiveStud</targetReference>
            </connector>
            <label>Inactive Student</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Name</name>
        <label>Product Name</label>
        <locationX>744</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_ProductName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Details</targetReference>
            </connector>
            <label>No ProductName</label>
        </rules>
        <rules>
            <name>Null_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Details</targetReference>
            </connector>
            <label>Null Product</label>
        </rules>
    </decisions>
    <interviewLabel>Brite update dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brite update dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Details</name>
        <label>Get Product Details</label>
        <locationX>943</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Brite_Families</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ActiveElem</name>
        <label>Active Elem</label>
        <locationX>505</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Elementary_Curriculum_Expiration_Date__c</field>
            <value>
                <elementReference>varExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActiveStudent</name>
        <label>ActiveStudent</label>
        <locationX>502</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Student_Curriculum_Expiration_Date__c</field>
            <value>
                <elementReference>varExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>InactivatedElem</name>
        <label>Inactivated Elem</label>
        <locationX>501</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Elementary_Curriculum_Expiration_Date__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>InactiveStud</name>
        <label>InactiveStud</label>
        <locationX>498</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Student_Curriculum_Expiration_Date__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_for_brite_families</name>
        <label>update for brite families</label>
        <locationX>1135</locationX>
        <locationY>529</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDCDId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Family__c</field>
            <value>
                <stringValue>brite - Families</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brite_Product__c</field>
            <value>
                <elementReference>varProductName</elementReference>
            </value>
        </inputAssignments>
        <object>Digital_Curriculum_Expiration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Name</name>
        <label>Update Product Name</label>
        <locationX>863</locationX>
        <locationY>502</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDCDId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>brite_Product__c</field>
            <value>
                <elementReference>varProductName</elementReference>
            </value>
        </inputAssignments>
        <object>Digital_Curriculum_Expiration__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Inactive_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDCDId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
