force-app/main/default/flows/Check_Primary_Missionary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignCommentText</name>
        <label>AssignCommentText</label>
        <locationX>541</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please connect by phone with the Awana Ministry Director. Remember to update any new or incomplete information in the church profile:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(If unable to reach the AMD or Pastor after reasonable effort, reach out to the &quot;Applicant.&quot;)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Welcome to the Awana ministry! (introduce yourself)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. First, would you verify that I have your contact information?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. How would you prefer me to connect with you going forward? (Phone, email, text, etc.)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4. Have you decided when you would like to start your Awana ministry?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5. Which Awana ministries will you be using?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>6. Have you thought about equipping your leaders for success?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7. We have several options of in-person training or on-line self-training.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>8. Our live training events are ______________________</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>9. You can access on-line training modules at volunteers.awana.org</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>10. I wonder if we can get together in person some time soon?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>11. If yes, add the AMD visit in your event list.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>12. If no, create a follow up task to contact a week prior to the start date.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_to_reach_out_AMD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CommentsAssignment</name>
        <label>CommentsAssignment</label>
        <locationX>788</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please complete the following with the church staff member. Remember to update any new or incomplete information in the church profile:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(If unable to reach the AMD or Pastor after reasonable effort, reach out to the &quot;Applicant.&quot;)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Welcome them to the Awana ministry and introduce yourself.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. How does the pastor want us to communicate about Awana and with whom?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. Is the AMD name and contact info correct?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4. Confirm the planned start date?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5. Which Awana ministries will be used?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>6. Set up a time to stop in and introduce yourself in person.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsPastor</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7. Change the date and time of the Pastor Visit in your event list.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_to_reach_out_Pastor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Primary_Missionary_Matches</name>
        <label>Primary Missionary Matches</label>
        <locationX>319</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryMissionaryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Primary_Missionary</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varNL},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <expression>today()+1</expression>
    </formulas>
    <interviewLabel>Check Primary Missionary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Primary Missionary 3</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_Primary_Missionary</name>
        <label>Create Task for Primary Missionary</label>
        <locationX>319</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>AssignCommentText</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please complete the church profile information. Check their website to learn about the ministry. Be sure to confirm the physical address. Add the pastor as a contact if he is not yet included in the Salesforce record. Add any other relevant people as contacts as you learn of them from the web page. The purpose of this task is to learn as much as possible about the church prior to contacting Pastors or the AMD.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1- Complete Church Profile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Online Research</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_reach_out_AMD</name>
        <label>Create Task to reach out AMD</label>
        <locationX>793</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>CommentsAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Initial AMD Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_reach_out_Pastor</name>
        <label>Create Task to reach out Pastor</label>
        <locationX>542</locationX>
        <locationY>262</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varCommentsPastor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Initial Pastor Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Primary_Missionary</name>
        <label>Check Primary Missionary</label>
        <locationX>316</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Missionary_Matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountOwnerId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varPrimaryMissionaryId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Check_Primary_Missionary</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>varNL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommentsPastor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryMissionaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
