force-app/main/default/flows/Create_Account_Teams_and_New_Account_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Noitify_Admins_about_Updating_Dropped_Accounts</name>
        <label>Noitify Admins about Updating Dropped Accounts</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <actionName>Account.Notify_Admins_when_Creating_Account_Teams_for_Dropped_Reg_Status</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Fld_Director</name>
        <label>Check Fld Director</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Check_WG_Leader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Field Director</defaultConnectorLabel>
        <rules>
            <name>Field_Director_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFldDirector</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fld_Director</targetReference>
            </connector>
            <label>Field Director Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GO_Specialist</name>
        <label>Check GO Specialist</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Create_VP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No GO Specialist</defaultConnectorLabel>
        <rules>
            <name>GO_Specialist_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGOSpecialist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateGO_Specialist</targetReference>
            </connector>
            <label>GO Specialist Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Missionary</name>
        <label>Check Primary Missionary</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM_existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaPM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Missionary_as_Owner</targetReference>
            </connector>
            <label>PM existed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PRM_Exist</name>
        <label>Check PRM Exist</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Check_SRM_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PRM Not Found</defaultConnectorLabel>
        <rules>
            <name>PRM_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPRMUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PRM</targetReference>
            </connector>
            <label>PRM Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SRM_Exist</name>
        <label>Check SRM Exist</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>Is_Reg_Status_Renewed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SRM Not Found</defaultConnectorLabel>
        <rules>
            <name>SRM_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSRMUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SRM</targetReference>
            </connector>
            <label>SRM Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WG_Leader</name>
        <label>Check WG Leader</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Create_Primary_Missionary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No WG Leader</defaultConnectorLabel>
        <rules>
            <name>WG_Leader_Director_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWkGroupLdr</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WKGroup_Leader</targetReference>
            </connector>
            <label>WG Leader  Director Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Team_If_Found</name>
        <label>Delete Team If Found</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Team_Members_By_State_And_County</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Team Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Old_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamColletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Other_Account_Teams</targetReference>
            </connector>
            <label>Found Old Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dropped_Status_Found</name>
        <label>Dropped Status Found</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Noitify_Admins_about_Updating_Dropped_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dropped Registration Found</defaultConnectorLabel>
        <rules>
            <name>Membership_Not_Dropped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dropped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Old_Accont_Team_Members</targetReference>
            </connector>
            <label>Membership Not  Dropped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reg_Status_Renewed</name>
        <label>Is Reg Status Renewed</label>
        <locationX>182</locationX>
        <locationY>3470</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Reg_Status_is_Not_Renewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Y1_Tasks</targetReference>
            </connector>
            <label>Reg Status is Not Renewed</label>
        </rules>
    </decisions>
    <interviewLabel>Create Account Teams and New Account Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account Teams and New Account Owners</label>
    <loops>
        <name>Find_Other_Account_Teams</name>
        <label>Find Other Account Teams</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>varTeamIndex</assignNextValueToReference>
        <collectionReference>varTeamColletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_PRM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Fld_Director</name>
        <label>Create Fld Director</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Check_WG_Leader</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Field Director</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varFldDirector</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Missionary</name>
        <label>Create Primary Missionary</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Check_GO_Specialist</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>vaPM</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PRM</name>
        <label>Create PRM</label>
        <locationX>50</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>Check_SRM_Exist</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Primary Relationship Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varPRMUserId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SRM</name>
        <label>Create SRM</label>
        <locationX>50</locationX>
        <locationY>3254</locationY>
        <connector>
            <targetReference>Is_Reg_Status_Renewed</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Secondary Relationship Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varSRMUserId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_VP</name>
        <label>Create VP</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Check_PRM_Exist</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>VP of US Field Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varVP</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WKGroup_Leader</name>
        <label>Create WKGroup Leader</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Create_Primary_Missionary</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Work Group Leader</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varWkGroupLdr</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>CreateGO_Specialist</name>
        <label>CreateGO Specialist</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Create_VP</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>GO Club Outreach Specialist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varGOSpecialist</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Team_Members</name>
        <label>Delete Team Members</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Team_Members_By_State_And_County</targetReference>
        </connector>
        <inputReference>varTeamColletion</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Old_Accont_Team_Members</name>
        <label>Find Old Accont Team Members</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Team_If_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>varTeamColletion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_PRM</name>
        <label>Find PRM</label>
        <locationX>336</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_SRM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Relationship Manager</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varPRMUserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_SRM</name>
        <label>Find SRM</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Other_Account_Teams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secondary Relationship Manager</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varSRMUserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members_By_State_And_County</name>
        <label>Get Team Members By State And County</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary_Missionary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCounty</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </filters>
        <object>US_Counties__c</object>
        <outputAssignments>
            <assignToReference>varFldDirector</assignToReference>
            <field>Field_Director__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGOSpecialist</assignToReference>
            <field>GO_Club_Outreach_Specialist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaPM</assignToReference>
            <field>Primary_Missionary__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVP</assignToReference>
            <field>VP_of_US_Field_Operations__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWkGroupLdr</assignToReference>
            <field>Work_Group_Leader__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Primary_Missionary_as_Owner</name>
        <label>Add Primary Missionary as Owner</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Check_Fld_Director</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vaPM</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dropped_Status_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Y1_Tasks</name>
        <label>Create Y1 Tasks</label>
        <locationX>50</locationX>
        <locationY>3590</locationY>
        <flowName>New_or_Reinstated_Y1_Church_Tasks</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountOwnerId</name>
            <value>
                <elementReference>vaPM</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>vaPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCounty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFldDirector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGOSpecialist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPRMUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSRMUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>All the members of an account team</description>
        <name>varTeamColletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varTeamIndex</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varVP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWkGroupLdr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
