force-app/main/default/flows/Create_Tasks_for_90_Day_Delay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Comment_Assignments_AMD</name>
        <label>Comment Assignments AMD</label>
        <locationX>620</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The purpose of this task is to connect with the AMD to be sure the Awana ministry is effective. This should be completed after the Mid Year Pastor Engagement task. If this meeting is in person, please change the &quot;type&quot; field to &quot;in person.&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Communicate that you care deeply about the mission of the church</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. Communicate that you share their concern to reach their &quot;Jerusalem&quot;, the kids in their neighborhood.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. Encourage them in the areas the Pastor requested.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4. Are all the leaders trained and comforable in their roles? (be prepared with resources)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5. What are some stories and victories? (capture them)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>6. Have you thought about how you might celebrate your wins this year?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7. Ask &quot;How can I best help you find success in your minsitry as you finish out your year?&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_AMD_Engagement_Mid_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Comment_Assignments_Celebrate</name>
        <label>Comment Assignments Celebrate</label>
        <locationX>56</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This task is the year-end connection. When you receive it, change the due date to match reality for the church. The purpose of this task is:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. To help the minsitry close their year well. (How will you be celebrating the kids and leaders?)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. To learn if the AMD and/or Pastor believes they have found success in ministry. (Did you accomplish all you hoped you would?)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. To learn if the ministry had the desired impact in &quot;Jerusalem.&quot; (Did you reach the kids you were trying to reach?)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4. To learn if the AMD will be returning next year. (Will you be leading this ministry next year?)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5. To point them toward resources that will help them with an excellent closing ceremony. (We have some great resources that will help you plan a memorable year end celebration. Can I send you a link?)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Celebrate_and_Bridge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pastor_Engagement_Comments</name>
        <label>Pastor Engagement Comments</label>
        <locationX>338</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The purpose of this task is to connect with the Pastor to be sure the Awana ministry is accomplishing his overall vision for the church</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Communicate that you care deeply about the mission of the church</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. Communicate that you share their concern to reach their &quot;Jerusalem&quot;, the kids in their neighborhood.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. Find out if there is any area in which the pastor would like you to encourage the AMD.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Pastor_Engagement_Mid_Year</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Primary_Missionary</name>
        <label>Check Primary Missionary</label>
        <locationX>62</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Pastor_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryMissionaryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pastor_Engagement_Comments</targetReference>
            </connector>
            <label>Create Pastor Engagement</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varNL},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>vaDueDate90</name>
        <dataType>Date</dataType>
        <expression>{!varPlannedStartDate}</expression>
    </formulas>
    <formulas>
        <name>varDueDate120</name>
        <dataType>Date</dataType>
        <expression>{!varPlannedStartDate}+120</expression>
    </formulas>
    <formulas>
        <name>varDueDate150</name>
        <dataType>Date</dataType>
        <expression>{!varPlannedStartDate}+150</expression>
    </formulas>
    <interviewLabel>Create Tasks for 90-Day-Delay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tasks for 90-Day-Delay</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_AMD_Engagement_Mid_Year</name>
        <label>Create Task AMD Engagement Mid-Year</label>
        <locationX>344</locationX>
        <locationY>514</locationY>
        <connector>
            <targetReference>Comment_Assignments_Celebrate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Health Check; Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Mid-Year AMD Engagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Celebrate_and_Bridge</name>
        <label>Create Task Celebrate and Bridge</label>
        <locationX>55</locationX>
        <locationY>675</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate150</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAccountOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Health Check; Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Celebration and Bridging Engagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Pastor_Engagement_Mid_Year</name>
        <label>Create Task Pastor Engagement Mid-Year</label>
        <locationX>620</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Comment_Assignments_AMD</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Health Check; Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Mid-Year Pastor Engagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Primary_Missionary</name>
        <label>Find Primary Missionary</label>
        <locationX>52</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary_Missionary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountOwnerId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varPrimaryMissionaryId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_Primary_Missionary</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>varNL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPlannedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryMissionaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReasons</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
