force-app/main/default/flows/Create_Campaign_Member_From_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>varCampName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Renew 2017</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_Campaign_member_exist_with_same_contact_id_do_not_create_member</name>
        <label>If Campaign member exist with same contact id do not create member</label>
        <locationX>742</locationX>
        <locationY>154</locationY>
        <defaultConnector>
            <targetReference>Collect_Promo_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_member_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Members</targetReference>
            </connector>
            <label>If member not exist</label>
        </rules>
    </decisions>
    <description>Create a campaign member from  Opportunity</description>
    <interviewLabel>Create Campaign Member From Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Campaign Member From Opportunity</label>
    <loops>
        <name>Collect_Promo_Opportunities</name>
        <label>Collect Promo Opportunities</label>
        <locationX>262</locationX>
        <locationY>365</locationY>
        <assignNextValueToReference>varLoopIndex</assignNextValueToReference>
        <collectionReference>varOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_From_Contact_Role</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Members</name>
        <label>Create Campaign Members</label>
        <locationX>562</locationX>
        <locationY>54</locationY>
        <assignRecordIdToReference>varACampaignMember</assignRecordIdToReference>
        <connector>
            <targetReference>Collect_Promo_Opportunities</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountID__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_code__c</field>
            <value>
                <elementReference>varPromoCode</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Campaign_Member_With_Contact</name>
        <label>Check Existing Campaign Member With Contact</label>
        <locationX>752</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Campaign_member_exist_with_same_contact_id_do_not_create_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varExistingContact</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>245</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Promo_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampName</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varCampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_From_Contact_Role</name>
        <label>Get Contact From Contact Role</label>
        <locationX>551</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Campaign_Member_With_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Order_Contact_Role__c</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Promo_Code_Opportunities</name>
        <label>Get Promo Code Opportunities</label>
        <locationX>228</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promo_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPromoCode</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>varOpportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Promo_code__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Promo_Code_Opportunities</startElementReference>
    <status>Active</status>
    <variables>
        <name>ExistingCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varACampaignMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varCampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Renew 2017&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Ordering Contact</description>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExistingContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoopIndex</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPromoCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
