force-app/main/default/flows/Create_Membership_Acceptance_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Create Membership Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Membership Acceptance Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Membership_Acceptance</name>
        <label>Create Membership Acceptance</label>
        <locationX>545</locationX>
        <locationY>205</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Agreement_Language__c</field>
            <value>
                <elementReference>language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Agreement_Signed_By__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Agreement_Signed_Date__c</field>
            <value>
                <elementReference>varSignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ministry_Agreement_Version__c</field>
            <value>
                <elementReference>varDocumentVersion</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Acceptance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Task_ContactId</name>
        <label>Get Task ContactId</label>
        <locationX>176</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Membership_Acceptance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>language</assignToReference>
            <field>Agreement_Sent_Version__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Agreement_Sent_to_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSignedDate</assignToReference>
            <field>Agreement_Signed_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDocumentVersion</assignToReference>
            <field>Ministry_Agreement_Document_Version__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task_ContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDocumentVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSignedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
