force-app/main/default/flows/Create_Account_Team_and_Change_Account_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Fld_Director</name>
        <label>Check Fld Director</label>
        <locationX>610</locationX>
        <locationY>32</locationY>
        <defaultConnector>
            <targetReference>Check_WG_Leader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Field Director</defaultConnectorLabel>
        <rules>
            <name>Field_Director_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFldDirector</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fld_Director</targetReference>
            </connector>
            <label>Field Director Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GO_Specialist</name>
        <label>Check GO Specialist</label>
        <locationX>1324</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Create_VP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No GO Specialist</defaultConnectorLabel>
        <rules>
            <name>GO_Specialist_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGOSpecialist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateGO_Specialist</targetReference>
            </connector>
            <label>GO Specialist Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WG_Leader</name>
        <label>Check WG Leader</label>
        <locationX>831</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Create_Primary_Missionary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No WG Leader</defaultConnectorLabel>
        <rules>
            <name>WG_Leader_Director_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWkGroupLdr</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WKGroup_Leader</targetReference>
            </connector>
            <label>WG Leader  Director Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Team_If_Found</name>
        <label>Delete Team If Found</label>
        <locationX>179</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Get_Team_Members_By_State_And_County</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Team Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Old_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamColletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Team_Members</targetReference>
            </connector>
            <label>Found Old Team</label>
        </rules>
    </decisions>
    <interviewLabel>Create Account Team and Change Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account Team and Change Account Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Fld_Director</name>
        <label>Create Fld Director</label>
        <locationX>892</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Check_WG_Leader</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Field Director</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varFldDirector</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Missionary</name>
        <label>Create Primary Missionary</label>
        <locationX>1102</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Check_GO_Specialist</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>vaPM</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_VP</name>
        <label>Create VP</label>
        <locationX>1620</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>Add_Primary_Missionary_as_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>VP of US Field Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varVP</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WKGroup_Leader</name>
        <label>Create WKGroup Leader</label>
        <locationX>1108</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>Create_Primary_Missionary</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Work Group Leader</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varWkGroupLdr</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>CreateGO_Specialist</name>
        <label>CreateGO Specialist</label>
        <locationX>1783</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Create_VP</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>GO Club Outreach Specialist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varGOSpecialist</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Team_Members</name>
        <label>Delete Team Members</label>
        <locationX>185</locationX>
        <locationY>403</locationY>
        <connector>
            <targetReference>Get_Team_Members_By_State_And_County</targetReference>
        </connector>
        <inputReference>varTeamColletion</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Old_Accont_Team_Members</name>
        <label>Find Old Accont Team Members</label>
        <locationX>180</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Team_If_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>varTeamColletion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members_By_State_And_County</name>
        <label>Get Team Members By State And County</label>
        <locationX>396</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Fld_Director</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCounty</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </filters>
        <object>US_Counties__c</object>
        <outputAssignments>
            <assignToReference>varFldDirector</assignToReference>
            <field>Field_Director__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGOSpecialist</assignToReference>
            <field>GO_Club_Outreach_Specialist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaPM</assignToReference>
            <field>Primary_Missionary__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVP</assignToReference>
            <field>VP_of_US_Field_Operations__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWkGroupLdr</assignToReference>
            <field>Work_Group_Leader__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Primary_Missionary_as_Owner</name>
        <label>Add Primary Missionary as Owner</label>
        <locationX>1341</locationX>
        <locationY>354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vaPM</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Old_Accont_Team_Members</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vaPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCounty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFldDirector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGOSpecialist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>All the members of an account team</description>
        <name>varTeamColletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varTeamIndex</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varVP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWkGroupLdr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
