force-app/main/default/flows/Create_Ministry_Agreement_Signed_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Completed_Task</name>
        <label>Check Completed Task</label>
        <locationX>167</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Completed_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sent_Task</targetReference>
            </connector>
            <label>Task Completed Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_ContactId</name>
        <label>Check the ContactId</label>
        <locationX>615</locationX>
        <locationY>84</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Record</targetReference>
            </connector>
            <label>Sent</label>
        </rules>
        <rules>
            <name>Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPriorValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Received with Errors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Received</targetReference>
            </connector>
            <label>Received</label>
        </rules>
        <rules>
            <name>Received_With_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received with Errors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPriorEmailNotes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UpdateEmailText</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Received_with_Errors</targetReference>
            </connector>
            <label>Received With Errors</label>
        </rules>
        <rules>
            <name>Received_After_Correction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPriorValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received with Errors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Received_0</targetReference>
            </connector>
            <label>Received After Correction</label>
        </rules>
        <rules>
            <name>Received_with_Errors_Multiple_times</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received with Errors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPriorEmailNotes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateEmailText</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Received_0_0</targetReference>
            </connector>
            <label>Received with Errors Multiple times</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Received_Found</name>
        <label>Task Received Found</label>
        <locationX>562</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Received</targetReference>
            </connector>
            <label>Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Received_Found_0</name>
        <label>Task Received Found</label>
        <locationX>814</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Received_0</targetReference>
            </connector>
            <label>Received with Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Received_Found_0_0</name>
        <label>Task Received Found</label>
        <locationX>1036</locationX>
        <locationY>496</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Received_0_0</targetReference>
            </connector>
            <label>Received after correction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Received_Found_0_0_0</name>
        <label>Task Received Found</label>
        <locationX>1266</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Received_0_0_0</targetReference>
            </connector>
            <label>Received with Error multiple times</label>
        </rules>
    </decisions>
    <interviewLabel>Create Ministry Agreement Signed Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Ministry Agreement Signed Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Task_Received</name>
        <label>Get Task Received</label>
        <locationX>463</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Received_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 4 AND (3 OR 5) AND 6</filterLogic>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Please sign this Awana Ministry Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Por favor firme este Acuerdo del Ministerio de Awana</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ministry Agreement</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Received_0</name>
        <label>Get Task Received</label>
        <locationX>1029</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Received_Found_0_0</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 5 AND 6 AND (2 OR 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received with Errors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Please sign this Awana Ministry Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Por favor firme este Acuerdo del Ministerio de Awana</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ministry Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Received_0_0</name>
        <label>Get Task Received</label>
        <locationX>1244</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Received_Found_0_0_0</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 5 AND 6 AND (2 OR 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received with Errors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Please sign this Awana Ministry Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Por favor firme este Acuerdo del Ministerio de Awana</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ministry Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Received_with_Errors</name>
        <label>Get Task Received with Errors</label>
        <locationX>729</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Received_Found_0</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 5 AND 6 AND (2 OR 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Please sign this Awana Ministry Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Por favor firme este Acuerdo del Ministerio de Awana</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ministry Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>182</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Completed_Task</targetReference>
        </connector>
        <filterLogic>1 AND  (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Please sign this Awana Ministry Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Email: Por favor firme este Acuerdo del Ministerio de Awana</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sent_Task</name>
        <label>Update Sent Task</label>
        <locationX>171</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Agreement_Email_Notes__c</field>
            <value>
                <elementReference>varEmailNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0127h000000g5mm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Ministry Agreement</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Received</name>
        <label>Update Task Received</label>
        <locationX>589</locationX>
        <locationY>690</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Agreement_Email_Notes__c</field>
            <value>
                <elementReference>varEmailNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Received_0</name>
        <label>Update Task Received</label>
        <locationX>839</locationX>
        <locationY>705</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Agreement_Email_Notes__c</field>
            <value>
                <elementReference>varEmailNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received with Errors</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Received_0_0</name>
        <label>Update Task Received</label>
        <locationX>1051</locationX>
        <locationY>692</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Agreement_Email_Notes__c</field>
            <value>
                <elementReference>varEmailNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Received_0_0_0</name>
        <label>Update Task Received</label>
        <locationX>1295</locationX>
        <locationY>653</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ministry_Agreement_Email_Notes__c</field>
            <value>
                <elementReference>varEmailNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received with Errors</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>130</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_the_ContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDocumentVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPriorEmailNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSignedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskCollectionnNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
