force-app/main/default/flows/Create_IC19_Tasks_For_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Fault_Email_To_SF_Admins</name>
        <label>Send Fault Email To SF Admins</label>
        <locationX>617</locationX>
        <locationY>381</locationY>
        <actionName>Account.Notify_Admin_when_Account_PM_Is_Not_Found</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_IC19_Fault_To_System_Admin</name>
        <label>Send IC19 Fault To System Admin</label>
        <locationX>577</locationX>
        <locationY>135</locationY>
        <actionName>Account.Notify_Admin_when_IC19_Zone_Not_Found_For_Account</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_IC19_Text</name>
        <label>Assign IC19 Text</label>
        <locationX>197</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please connect with the Pastor of this church. Try to meet with the Lead Pastor if possible. Think about the reasons that caused you to select this church for intentional care.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Craft your questions and conversations accordingly. Please make at least one quarterly connection in person.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>G - Gratitude - I thanked...</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>P - Prayer - I prayed for...</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>S - Story - Pastor X told…. I told him about…</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComment</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>H - Help - They need help with… I scheduled follow up of…</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_IC191</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_IC19_Church</name>
        <label>Verify IC19 Church</label>
        <locationX>190</locationX>
        <locationY>129</locationY>
        <defaultConnector>
            <targetReference>Send_IC19_Fault_To_System_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_IC19_Church</name>
            <conditionLogic>1 AND  (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varZone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varZone</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IC19</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varZone</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iC19</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varZone</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ic19</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varZone</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ic19</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Missionary</targetReference>
            </connector>
            <label>Valid IC19 Church</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Null_Account_Owner</name>
        <label>Verify Null Account Owner</label>
        <locationX>189</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Send_Fault_Email_To_SF_Admins</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Missionary Was Found</defaultConnectorLabel>
        <rules>
            <name>Create_IC19_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryMissionary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IC19_Text</targetReference>
            </connector>
            <label>Create IC19 Tasks</label>
        </rules>
    </decisions>
    <description>Creates 4 Intentional Care Tasks to Primary Mission/Account Owner when Accont Zone = &quot;C19&quot;</description>
    <formulas>
        <description>new line formula that uses varNL</description>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varNL},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Due date for all IC19 tasks</description>
        <name>varDueDate1</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE( &quot;2018-11-30&quot; )</expression>
    </formulas>
    <formulas>
        <description>Due Date for IC19.2 task</description>
        <name>varDueDate2</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;2019-02-28&quot;)</expression>
    </formulas>
    <formulas>
        <description>Due date for IC19.3 tasks</description>
        <name>varDueDate3</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;2019-04-30&quot;)</expression>
    </formulas>
    <formulas>
        <description>Due Date for IC19.4</description>
        <name>varDueDate4</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;2019-06-30&quot;)</expression>
    </formulas>
    <interviewLabel>Create IC19 Tasks For Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create IC19 Tasks For Accounts</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_IC191</name>
        <label>Create Task IC191</label>
        <locationX>192</locationX>
        <locationY>736</locationY>
        <connector>
            <targetReference>Create_Task_IC192</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Intentional Care</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y19-IC19.1 Quarterly Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_IC192</name>
        <label>Create Task IC192</label>
        <locationX>483</locationX>
        <locationY>726</locationY>
        <connector>
            <targetReference>Create_Task_IC193</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Intentional Care</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y19-IC19.2 Quarterly Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_IC193</name>
        <label>Create Task IC193</label>
        <locationX>730</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Create_Task_IC194</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Intentional Care</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y19-IC19.3 Quarterly Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_IC194</name>
        <label>Create Task IC194</label>
        <locationX>1002</locationX>
        <locationY>729</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Intentional Care</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y19-IC19.4 Quarterly Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Primary_Missionary</name>
        <label>Check Primary Missionary</label>
        <locationX>186</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Null_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varPrimaryMissionary</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_IC19_Account</name>
        <label>Find IC19 Account</label>
        <locationX>176</locationX>
        <locationY>1</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_IC19_Church</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varZone</assignToReference>
            <field>Zone__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_IC19_Account</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>varNL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Acocnt Owner</description>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryMissionary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
