force-app/main/default/flows/Feed_Tracking_on_Affiliation_Church_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>REFERENCE</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;AFFILIATION&lt;&lt;{![npe5__Affiliation__c].Name} &gt;&gt; 1ST-TIME CHURCH ROLE: &lt;&lt;{![npe5__Affiliation__c].Church_Role__c} &gt;&gt;\nhttps://awana--test.my.salesforce.com/{![npe5__Affiliation__c].Id}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>1st Time Church Role Chatter Feed</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>AFFILIATION&lt;&lt;{!myVariable_current.Name} &gt;&gt; 1ST-TIME CHURCH ROLE: &lt;&lt;{!myVariable_current.Church_Role__c} &gt;&gt;
https://awana--test.my.salesforce.com/{!myVariable_current.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.npe5__Organization__r.Owner.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>REFERENCE</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;AFFILIATION&lt;&lt;{![npe5__Affiliation__c].Name}&gt;&gt; CHURCH ROLE WAS REMOVED\nhttps://awana--test.my.salesforce.com/{![npe5__Affiliation__c].Id}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Church Role Removed Chatter Feed</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>AFFILIATION&lt;&lt;{!myVariable_current.Name}&gt;&gt; CHURCH ROLE WAS REMOVED
https://awana--test.my.salesforce.com/{!myVariable_current.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.npe5__Organization__r.Owner.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>REFERENCE</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;AFFILIATION &lt;&lt;{![npe5__Affiliation__c].Name} &gt;&gt; CHURCH ROLE  STATUS CHANGED TO: &lt;&lt;{![npe5__Affiliation__c].npe5__Status__c}&gt;&gt; FOR ROLE &lt;&lt;{![npe5__Affiliation__c].Church_Role__c} &gt;&gt;\nhttps://awana--test.my.salesforce.com/{![npe5__Affiliation__c].Id}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Church Status Chatter Feed</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>AFFILIATION &lt;&lt;{!myVariable_current.Name} &gt;&gt; CHURCH ROLE  STATUS CHANGED TO: &lt;&lt;{!myVariable_current.npe5__Status__c}&gt;&gt; FOR ROLE &lt;&lt;{!myVariable_current.Church_Role__c} &gt;&gt;
https://awana--test.my.salesforce.com/{!myVariable_current.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.npe5__Organization__r.Owner.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>REFERENCE</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;AFFILIATION &lt;&lt;{![npe5__Affiliation__c].Name} &gt;&gt; FIRST TIME CHURCH ROLE &lt;&lt;{![npe5__Affiliation__c].npe5__Status__c}&gt;&gt; FOR ROLE &lt;&lt;{![npe5__Affiliation__c].Church_Role__c} &gt;&gt;\nhttps://awana--test.my.salesforce.com/{![npe5__Affiliation__c].Id}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>First Time Church Role Created</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>AFFILIATION &lt;&lt;{!myVariable_current.Name} &gt;&gt; FIRST TIME CHURCH ROLE &lt;&lt;{!myVariable_current.npe5__Status__c}&gt;&gt; FOR ROLE &lt;&lt;{!myVariable_current.Church_Role__c} &gt;&gt;
https://awana--test.my.salesforce.com/{!myVariable_current.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.npe5__Organization__r.Owner.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>1st Time Church Role</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Church Role Removed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Church Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>1st Time Created Church Role</label>
        </rules>
    </decisions>
    <description>Notify an Account  Owner When a Church Role Changes  with a Chatter Feed</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> ISPICKVAL([npe5__Affiliation__c].npe5__Organization__c.Registration_Level__c,&apos;R1&apos; ) &amp;&amp;
NOT(ISPICKVAL([npe5__Affiliation__c].Church_Role__c ,&apos;&apos;)) &amp;&amp;
ISPICKVAL(PRIORVALUE([npe5__Affiliation__c].Church_Role__c ),&apos;&apos;) ||

NOT(ISNULL([npe5__Affiliation__c].npe5__Contact__c )) &amp;&amp; ISNULL(PRIORVALUE([npe5__Affiliation__c].npe5__Contact__c )) &amp;&amp; NOT(ISPICKVAL([npe5__Affiliation__c].Church_Role__c,&apos;&apos; ) &amp;&amp; ISPICKVAL([npe5__Affiliation__c].npe5__Organization__c.Registration_Level__c ,&apos;R1&apos;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression> ISPICKVAL({!myVariable_current.npe5__Organization__r.Registration_Level__c},&apos;R1&apos; ) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Church_Role__c} ,&apos;&apos;)) &amp;&amp;
ISPICKVAL(PRIORVALUE({!myVariable_current.Church_Role__c} ),&apos;&apos;) ||

NOT(ISNULL({!myVariable_current.npe5__Contact__c} )) &amp;&amp; ISNULL(PRIORVALUE({!myVariable_current.npe5__Contact__c} )) &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Church_Role__c},&apos;&apos; ) &amp;&amp; ISPICKVAL({!myVariable_current.npe5__Organization__r.Registration_Level__c} ,&apos;R1&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([npe5__Affiliation__c].Church_Role__c ,&apos;&apos;) &amp;&amp;
NOT(ISPICKVAL(PRIORVALUE([npe5__Affiliation__c].Church_Role__c ),&apos;&apos;)) &amp;&amp; ISPICKVAL([npe5__Affiliation__c].npe5__Organization__c.Registration_Level__c  ,&apos;R1&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Church_Role__c} ,&apos;&apos;) &amp;&amp;
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.Church_Role__c} ),&apos;&apos;)) &amp;&amp; ISPICKVAL({!myVariable_current.npe5__Organization__r.Registration_Level__c}  ,&apos;R1&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([npe5__Affiliation__c].npe5__Organization__c.Registration_Level__c,&apos;R1&apos;) &amp;&amp;
(ISPICKVAL(PRIORVALUE([npe5__Affiliation__c].npe5__Status__c  ),&apos;Former&apos;) &amp;&amp;
ISPICKVAL([npe5__Affiliation__c].npe5__Status__c  ,&apos;Current&apos;)  &amp;&amp; NOT(ISPICKVAL([npe5__Affiliation__c].Church_Role__c,&apos;&apos; ))) || (ISPICKVAL(PRIORVALUE([npe5__Affiliation__c].npe5__Status__c  ),&apos;Current&apos;) &amp;&amp;
ISPICKVAL([npe5__Affiliation__c].npe5__Status__c  ,&apos;Former&apos;) &amp;&amp; NOT(ISPICKVAL([npe5__Affiliation__c].Church_Role__c,&apos;&apos; )) &amp;&amp; ISPICKVAL([npe5__Affiliation__c].npe5__Organization__c.Registration_Level__c ,&apos;R1&apos;)) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.npe5__Organization__r.Registration_Level__c},&apos;R1&apos;) &amp;&amp;
(ISPICKVAL(PRIORVALUE({!myVariable_current.npe5__Status__c}  ),&apos;Former&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.npe5__Status__c}  ,&apos;Current&apos;)  &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Church_Role__c},&apos;&apos; ))) || (ISPICKVAL(PRIORVALUE({!myVariable_current.npe5__Status__c}  ),&apos;Current&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.npe5__Status__c}  ,&apos;Former&apos;) &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Church_Role__c},&apos;&apos; )) &amp;&amp; ISPICKVAL({!myVariable_current.npe5__Organization__r.Registration_Level__c} ,&apos;R1&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISPICKVAL(PRIORVALUE([npe5__Affiliation__c].npe5__Status__c  ),&apos;&apos;)  &amp;&amp;
ISPICKVAL([npe5__Affiliation__c].npe5__Status__c  ,&apos;Current&apos;)  )  &amp;&amp;
ISPICKVAL([npe5__Affiliation__c].npe5__Organization__c.Registration_Level__c,&apos;R1&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL(PRIORVALUE({!myVariable_current.npe5__Status__c}  ),&apos;&apos;)  &amp;&amp;
ISPICKVAL({!myVariable_current.npe5__Status__c}  ,&apos;Current&apos;)  )  &amp;&amp;
ISPICKVAL({!myVariable_current.npe5__Organization__r.Registration_Level__c},&apos;R1&apos;)</expression>
    </formulas>
    <interviewLabel>Feed_Tracking_on_Affiliation_Church_Role-8_InterviewLabel</interviewLabel>
    <label>Feed Tracking on Affiliation Church Role</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>npe5__Affiliation__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
</Flow>
