force-app/main/default/flows/Follow_up_on_Reinstated_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AMD_Engagement_Comments</name>
        <label>AMD Engagement Comments</label>
        <locationX>565</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The purpose of this task is to connect with the AMD to be sure the Awana ministry is effective. This should be completed after the Mid Year Pastor Engagement task. If this meeting is in person, please change the &quot;type&quot; field to &quot;in person.&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Communicate that you care deeply about the mission of the church</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. Communicate that you share their concern to reach their &quot;Jerusalem&quot;, the kids in their neighborhood.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. Encourage them in the areas the Pastor requested.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4. Are all the leaders trained and comforable in their roles? (be prepared with resources)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5. What are some stories and victories? (capture them)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>6. Have you thought about how you might celebrate your wins this year?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7. Ask &quot;How can I best help you find success in your minsitry as you finish out your year?&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AMD_Engagement_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pastor_Engagement_Comments</name>
        <label>Pastor Engagement Comments</label>
        <locationX>321</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The purpose of this task is to connect with the Pastor to be sure the Awana ministry is accomplishing his overall vision for the reinstated church. This call may be short and sweet, but may be lengthy as well. If this meeting is in person, please change the &quot;type&quot; field to &quot;in person.&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Communicate that you care deeply about the mission of the church</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. Communicate that you share their concern to reach their &quot;Jerusalem&quot;, the kids in their neighborhood.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. Find out if there is any area in which the pastor would like you to encourage the AMD.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pastor_Engagement_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Primary_Missionary</name>
        <label>Check Primary Missionary</label>
        <locationX>82</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Task_Reinstated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryMissionaryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pastor_Engagement_Comments</targetReference>
            </connector>
            <label>Create Task Reinstated</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varNL},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varDueDateAMD</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+10</expression>
    </formulas>
    <formulas>
        <name>varDueDatePastor</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+10</expression>
    </formulas>
    <interviewLabel>Follow up  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Follow up on Reinstated Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AMD_Engagement_Task</name>
        <label>Create AMD Engagement Task</label>
        <locationX>341</locationX>
        <locationY>430</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDateAMD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Health Check; Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Immediate AMD Engagement for Reinstated Churches</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountIdReinstate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Pastor_Engagement_Task</name>
        <label>Create Pastor Engagement Task</label>
        <locationX>543</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>AMD_Engagement_Comments</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDatePastor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Health Check; Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Immediate Pastor Engagement for Reinstated Churches</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountIdReinstate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_The_Primary_Missionary</name>
        <label>Find The Primary Missionary</label>
        <locationX>79</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary_Missionary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIdReinstate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountOwnerId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varPrimaryMissionaryId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_The_Primary_Missionary</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>varNL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>varAccountIdReinstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastModifiedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryMissionaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
