force-app/main/default/flows/Follow_up_on_Club_Start.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Club_Visit_Comments_Assignment</name>
        <label>Club Visit Comments Assignment</label>
        <locationX>827</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The purpose of the club visit is to encourage leaders and develop a plan to help them find ministry success. Remember to document the visit well, adjust their &apos;health status.&apos; Send a follow-up e-mail that both thanks them for allowing you to visit, and provides links to needed resources:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Be sure to shake as many hands as you can and encourage as many leaders as possible.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. Focus more on leader development, less on club mechanics. (Mechanics will come.)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. Be prepared to connect the AMD with the discipline module of club clinic. (Most usually need it.)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4. Be prepared to schedule a follow up visit with leaders, AMD, or another club visit.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5. Remember the six principles - they are a good way to guide people to success:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentsClubVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;Did we share the gospel, learn the Bible, have fun, and involve kids in leadership? Did our leaders bring their &apos;A Game&apos;?&quot; Is there evidence that parents are involved? Point it out when you see these things in action during your visit.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Club_Visit_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Comments_Assignment</name>
        <label>Comments Assignment</label>
        <locationX>575</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The purpose of this task is to answer a few questions and to pray for their ministry:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Did you start well?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. Are there any areas of the Awana ministry in which you are struggling?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. I&apos;d love to come see your ministry in action. Can we put a date on the calendar? (If yes, add Club Visit in your event list; if no, create followup task)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4. Is there anything else I can help you with today?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5. May I pray for your Awana ministry before we go?</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Club_Start_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Primary_Missioinary</name>
        <label>Check Primary Missioinary</label>
        <locationX>340</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Task_Club_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryMissionaryIdClub</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comments_Assignment</targetReference>
            </connector>
            <label>Create Task Club Start</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varNL},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <expression>{!varPlannedStartDate}+12</expression>
    </formulas>
    <formulas>
        <name>varDueDate90</name>
        <dataType>Date</dataType>
        <expression>{!varPlannedStartDate}+90</expression>
    </formulas>
    <interviewLabel>Follow up on Club Start {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Follow up on Club Start</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Club_Start_Task</name>
        <label>Club Start Task</label>
        <locationX>822</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Club_Visit_Comments_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryIdClub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Health Check; Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Follow-Up on Club Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountIdClub</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Club_Visit_Task</name>
        <label>Club Visit Task</label>
        <locationX>568</locationX>
        <locationY>382</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate90</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varCommentsClubVisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryIdClub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Club Visit; Health Check; Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Y1 - Club Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>In Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountIdClub</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_the_Primary_Missionary</name>
        <label>Find the  Primary Missionary</label>
        <locationX>338</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary_Missioinary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIdClub</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varPrimaryMissionaryIdClub</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_the_Primary_Missionary</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>varNL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>varAccountIdClub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommentsClubVisit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPlannedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryMissionaryIdClub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
