force-app/main/default/flows/Lead_Data_Migrate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Exception</name>
        <label>Exception</label>
        <locationX>467</locationX>
        <locationY>377</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>urvashi.dagara@infoglen.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Update exception</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Send_Start_Exception_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Start_Exception_Email</name>
        <label>Send Start Exception Email</label>
        <locationX>474</locationX>
        <locationY>43</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>urvashi.dagara@infoglen.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Start Exception Issue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TT_Fault_StartException</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Start_Exception_Email_0</name>
        <label>Send Start Exception Email</label>
        <locationX>470</locationX>
        <locationY>184</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>urvashi.dagara@infoglen.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Does Not Exist for Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TT_Fault_ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Success_Migration</name>
        <label>Send Success Migration</label>
        <locationX>292</locationX>
        <locationY>517</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>urvashi.dagara@infoglen.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Valid Pass of Migration on Lead Source</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TT_LeadSource</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Verify_If_Lead_Contact_Exists</name>
        <label>Verify If Lead Contact Exists</label>
        <locationX>276</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Send_Start_Exception_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FAILED</defaultConnectorLabel>
        <rules>
            <name>HasContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Migrate_Lead_Source_To_Contact</targetReference>
            </connector>
            <label>HasContact</label>
        </rules>
    </decisions>
    <interviewLabel>{Lead To Contact Migrate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Data Migrate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Lead_of_Account</name>
        <label>Lookup_Lead_of_Account</label>
        <locationX>281</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_If_Lead_Contact_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Start_Exception_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>ContactID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Migrate_Lead_Source_To_Contact</name>
        <label>Migrate Lead Source To Contact</label>
        <locationX>285</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Send_Success_Migration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>varLeadSource</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Lookup_Lead_of_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TT_Fault_ContactId</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage} Null Contact ID found. Please fix.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Fault_StartException</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage} An Exception was thrown at the start of this flow. Strange crash.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_LeadSource</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.FaultMessage} Migration Passed.&lt;/p&gt;&lt;p&gt;{!varContactId} ---- {!varLeadSource}---- {!varAccountId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
