force-app/main/default/flows/Migrate_Lead_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Start_Exception_Email</name>
        <label>Send Start Exception Email</label>
        <locationX>586</locationX>
        <locationY>88</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Start Exception Issue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>urvashi.dagara@infoglen.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TT_Fault_StartException</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Start_Exception_Email_0</name>
        <label>Send Start Exception Email</label>
        <locationX>585</locationX>
        <locationY>218</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Conatct Does Not Exist for Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>urvashi.dagara@infoglen.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TT_Fault_ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Success_Migration</name>
        <label>Send Success Migration</label>
        <locationX>402</locationX>
        <locationY>476</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Valid Pass of Migration on Lead Source</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>urvashi.dagara@infoglen.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TT_LeadSource</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Verify_If_Lead_Contact_Exists</name>
        <label>Verify If Lead Contact Exists</label>
        <locationX>398</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Send_Start_Exception_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FAILED</defaultConnectorLabel>
        <rules>
            <name>HasContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Migrate_Lead_Source_To_Contact</targetReference>
            </connector>
            <label>HasContact</label>
        </rules>
    </decisions>
    <description>Migrates Lead Owner, Tasks and Lead Source to Lead&apos;s converted  Account and Contact.</description>
    <interviewLabel>Migrate Lead Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Lead Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Lead_of_Account</name>
        <label>Lookup_Lead_of_Account</label>
        <locationX>393</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_If_Lead_Contact_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Start_Exception_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>ContactID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Migrate_Lead_Source_To_Contact</name>
        <label>Migrate Lead Source To Contact</label>
        <locationX>396</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Send_Success_Migration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>varLeadSource</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Lead_of_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Message for Missing Contact Id</description>
        <name>TT_Fault_ContactId</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Flow.FaultMessage} Null Contact ID found. Please fix.</text>
    </textTemplates>
    <textTemplates>
        <description>General Exception from start of flow. Something strange happened</description>
        <name>TT_Fault_StartException</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Flow.FaultMessage} An Exception was thrown at the start of this flow. Strange crash.</text>
    </textTemplates>
    <textTemplates>
        <name>TT_LeadSource</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.FaultMessage} Migration Passed.&lt;/p&gt;&lt;p&gt;{!varContactId} ---- {!varLeadSource}---- {!varAccountId}----{!HasContact}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
