force-app/main/default/flows/Mozo_Trial_Update_For_Mozo_User_Level.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Id_To_Collection_0_0</name>
        <label>Add Id To Collection</label>
        <locationX>334</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>varCollAffiliationsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopAffiliations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Affiliation_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Mozo_User_Level_to_FULL</name>
        <label>Update Mozo User Level to FULL</label>
        <locationX>205</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>varLoopAffiliations.Mozo_User_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Id_To_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Mozo Trial Update For Mozo User Level {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mozo Trial Update For Mozo User Level</label>
    <loops>
        <name>Loop_through_Affiliation_Collection</name>
        <label>Loop through Affiliation Collection</label>
        <locationX>224</locationX>
        <locationY>223</locationY>
        <assignNextValueToReference>varLoopAffiliations</assignNextValueToReference>
        <collectionReference>varAffiliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Mozo_User_Level_to_FULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Mozo_Level</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_Current_Affiliations</name>
        <label>Lookup all Current Affiliations</label>
        <locationX>252</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Affiliation_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varAffiliations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mozo_User_Level__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mozo_Level</name>
        <label>Update Mozo Level</label>
        <locationX>544</locationX>
        <locationY>400</locationY>
        <inputReference>varCollAffiliationsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_all_Current_Affiliations</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of current Affiliations  per an account</description>
        <name>varAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varCollAffiliationsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varLoopAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varRegLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
