force-app/main/default/flows/Mozo_User_Level_Updates_for_Mozo_Free_Trial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Updated_Affiliation_to_Update_List</name>
        <label>Add Updated Affiliation to Update List</label>
        <locationX>416</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>varCollAffiliationsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopIndexAffiliations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Affiliation_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Mozo_User_Level_To_Fulll</name>
        <label>Update Mozo User Level To Fulll</label>
        <locationX>206</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>varLoopIndexAffiliations.Mozo_User_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Affiliation_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Contact_Email_Not_Null</name>
        <label>Is Contact Email Not Null</label>
        <locationX>215</locationX>
        <locationY>639</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Proceed_to_Update_Mozo_User_Level_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mozo_User_Level_To_Fulll</targetReference>
            </connector>
            <label>Proceed to Update Mozo User Level Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Historical_Not_Set</name>
        <label>Is Historical Not Set</label>
        <locationX>220</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Go_To_Check_For_Null_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLoopIndexAffiliations.Historical__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Null_Contact_Email</targetReference>
            </connector>
            <label>Go To Check For Null Contact Email</label>
        </rules>
    </decisions>
    <description>Updates the Mozo USer Level to Full for non-Historical Affiliated Contacts that have valid non-null email addresses.</description>
    <interviewLabel>Mozo User Level Updates for Mozo Free Trial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mozo User Level Updates for Mozo Free Trial</label>
    <loops>
        <name>Loop_through_Affiliation_Collection</name>
        <label>Loop through Affiliation Collection</label>
        <locationX>224</locationX>
        <locationY>222</locationY>
        <assignNextValueToReference>varLoopIndexAffiliations</assignNextValueToReference>
        <collectionReference>varAffiliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Historical_Not_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Mozo_Level</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_For_Null_Contact_Email</name>
        <label>Check For Null Contact Email</label>
        <locationX>215</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Email_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopIndexAffiliations.npe5__Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContact</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_all_Current_Affiliations</name>
        <label>Lookup all Current Affiliations</label>
        <locationX>252</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Affiliation_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Historical__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varAffiliations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mozo_User_Level__c</queriedFields>
        <queriedFields>npe5__Contact__c</queriedFields>
        <queriedFields>Historical__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mozo_Level</name>
        <label>Update Mozo Level</label>
        <locationX>544</locationX>
        <locationY>400</locationY>
        <inputReference>varCollAffiliationsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_all_Current_Affiliations</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of current Affiliations  per an account</description>
        <name>varAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varCollAffiliationsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <description>Used to contain the  Email in order to test and make sure that it is not empty / null</description>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Grabs the contact Id from npe5__Contact__c so that we can access the email of the contact.</description>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoopIndexAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varRegLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
