force-app/main/default/flows/New_or_Reinstated_Y1_Church_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Primary_Missionary_Matches</name>
        <label>Primary Missionary Matches</label>
        <locationX>393</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryMissionaryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Primary_Missionary</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>flow for New or Reinstated Membership Church Updates (replaces Check PrimaryMissionary 3)</description>
    <formulas>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varNL},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <expression>today()+2</expression>
    </formulas>
    <formulas>
        <name>varDueDateMonths2</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR( today() ) + FLOOR( ( MONTH ( today() ) + 2 - 1 ) / 12 ),
  MOD( MONTH ( today() ) + 2 - 1 + 
    IF( DAY ( today() ) &gt; CASE( MOD( MONTH( today() ) + 2 - 1, 12 ) + 1, 
      2, 28,
      4, 30,
      6, 30,
      9, 30, 
      11, 30,
      31 ), 1, 0 ), 12 ) + 1,
    IF( DAY( today() ) &gt; CASE( MOD( MONTH( today() ) + 2 - 1, 12 ) + 1,
      2, 28, 
      4, 30, 
      6, 30, 
      9, 30, 
      11, 30, 
      31 ), 
    1, DAY( today() )
  )
)</expression>
    </formulas>
    <formulas>
        <name>varDueDateMonths6</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR( today() ) + FLOOR( ( MONTH ( today() ) + 6 - 1 ) / 12 ),
  MOD( MONTH ( today() ) + 6 - 1 + 
    IF( DAY ( today() ) &gt; CASE( MOD( MONTH( today() ) + 6 - 1, 12 ) + 1, 
      2, 28,
      4, 30,
      6, 30,
      9, 30, 
      11, 30,
      31 ), 1, 0 ), 12 ) + 1,
    IF( DAY( today() ) &gt; CASE( MOD( MONTH( today() ) + 6 - 1, 12 ) + 1,
      2, 28, 
      4, 30, 
      6, 30, 
      9, 30, 
      11, 30, 
      31 ), 
    1, DAY( today() )
  )
)</expression>
    </formulas>
    <formulas>
        <name>varDueDateWeek</name>
        <dataType>Date</dataType>
        <expression>today()+7</expression>
    </formulas>
    <interviewLabel>New or Reinstated Y1 Church Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New or Reinstated Y1 Church Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_Primary_Missionary</name>
        <label>Create Task for Primary Missionary</label>
        <locationX>140</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Create_Task_for_Primary_Missionary_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Learn - Update data in Salesforce from the church&apos;s website, connect with pastor/AMD for alignment of mission discussion and answer questions. See https://bit.ly/Y1Tasks for more information.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Learn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Primary_Missionary_0</name>
        <label>Create Task for Primary Missionary</label>
        <locationX>372</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Task_for_Primary_Missionary_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDateWeek</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Equip - Help them launch well through leader equipping options available. See https://bit.ly/Y1Tasks for more information.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Equip</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Primary_Missionary_0_0</name>
        <label>Create Task for Primary Missionary</label>
        <locationX>606</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Task_for_Primary_Missionary_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDateMonths2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Evaluate - Early to mid-year check-in and/or club visit to see how they are doing, affirm what is going well and offer helpful input to guide them along. See https://bit.ly/Y1Tasks for more information.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Evaluate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Primary_Missionary_0_0_0</name>
        <label>Create Task for Primary Missionary</label>
        <locationX>809</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDateMonths6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Bridge - Connect at the end of the club year to congratulate them on their first year, debrief successes and challenges and help them bridge to an even stronger year two. See https://bit.ly/Y1Tasks for more information.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Contacted__c</field>
            <value>
                <stringValue>Year 1-3 Connection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Bridge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Primary_Missionary</name>
        <label>Check Primary Missionary</label>
        <locationX>390</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Missionary_Matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountOwnerId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varPrimaryMissionaryId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Primary_Missionary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varNL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>For Y19.2 Task  Subject</description>
        <name>varComments2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommentsPastor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryMissionaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
