force-app/main/default/flows/Revert_MOZO_Account_To_Previous_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fast_Lookup_Fault_Message</name>
        <label>Fast Lookup Fault Message</label>
        <locationX>521</locationX>
        <locationY>82</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error in Fast Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tonyw@awana.org</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Field</name>
        <label>Check Field</label>
        <locationX>295</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>LookupOtherHistoryFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MOZO_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varThisHistory.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOZO_Level__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_MOZO_Level</targetReference>
            </connector>
            <label>MOZO Level</label>
        </rules>
        <rules>
            <name>MOZO_Expiration_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varThisHistory.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOZO_Expiration_Date__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_MOZO_Expiration_Date</targetReference>
            </connector>
            <label>MOZO Expiration Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Membership_Product</name>
        <label>Check Membership Product</label>
        <locationX>678</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Check_Non_Upgrade_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check For Non-Upgrade</defaultConnectorLabel>
        <rules>
            <name>Upgrade_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMembershipProduct</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Upgrade_Product</targetReference>
            </connector>
            <label>Upgrade Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Non_Upgrade_Product</name>
        <label>Check Non-Upgrade Product</label>
        <locationX>957</locationX>
        <locationY>175</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Non_Upgrade_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMembershipProduct</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Non_Upgrade</targetReference>
            </connector>
            <label>Non-Upgrade Product</label>
        </rules>
    </decisions>
    <description>This flow reverts account to previous MOZO  state based on account history. Needs Account ID, MOZO Product, MOZO Level, and Order Date</description>
    <formulas>
        <name>ConvertExpirationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varOldExpirationDate})</expression>
    </formulas>
    <formulas>
        <name>ConvertRegistrationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varOldRegistrationDate})</expression>
    </formulas>
    <interviewLabel>Revert MOZO  Account  To Previous State {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revert MOZO  Account  To Previous State</label>
    <loops>
        <name>Loop_Through_Account_History</name>
        <label>Loop Through Account History</label>
        <locationX>311</locationX>
        <locationY>190</locationY>
        <assignNextValueToReference>varThisHistory</assignNextValueToReference>
        <collectionReference>varColHistory</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Membership_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Account_History</name>
        <label>Lookup Account History</label>
        <locationX>308</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fast_Lookup_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varCreateDate</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputReference>varColHistory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Field</queriedFields>
        <queriedFields>OldValue</queriedFields>
        <queriedFields>NewValue</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_MOZO_Expiration_Date</name>
        <label>Lookup MOZO Expiration Date</label>
        <locationX>61</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisHistory.Id</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputAssignments>
            <assignToReference>varOldExpirationDate</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_MOZO_Level</name>
        <label>Lookup MOZO Level</label>
        <locationX>479</locationX>
        <locationY>598</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisHistory.Id</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputAssignments>
            <assignToReference>varOldMozoLevel</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupOtherHistoryFields</name>
        <label>LookupOtherHistoryFields</label>
        <locationX>698</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisHistory.Id</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputAssignments>
            <assignToReference>varContainer</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Non_Upgrade</name>
        <label>Update Account Non Upgrade</label>
        <locationX>957</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MOZO_Expiration_Date__c</field>
            <value>
                <elementReference>ConvertExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOZO_Level__c</field>
            <value>
                <elementReference>varOldMozoLevel</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Upgrade_Product</name>
        <label>Update Account Upgrade Product</label>
        <locationX>712</locationX>
        <locationY>365</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MOZO_Level__c</field>
            <value>
                <elementReference>varOldMozoLevel</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Lookup_Account_History</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>NotUpgrade</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is not an upgrade product so I will update the following:
Registration Status: {!varOldRegistrationStatus}
Registratioh Level: {!varOldRegistrationLevel}
Expiration Date: {!ConvertExpirationDate}
Registration Date: {!ConvertRegistrationDate}</text>
    </textTemplates>
    <textTemplates>
        <name>RegLevels</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Current Level: {!varCurrentRegistrationLevel}
Old Level: {!varOldRegistrationLevel}</text>
    </textTemplates>
    <textTemplates>
        <name>UpgradeProduct</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is an upgrade so I will update only the Membership Level to {!varOldRegistrationLevel}</text>
    </textTemplates>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountHistory</objectType>
    </variables>
    <variables>
        <name>varContainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Mozo Level</description>
        <name>varCurrentMOZOLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentRegistrationLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMembershipProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewRegistrationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewRegistrationLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldExpirationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldMozoLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldRecentAddedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldRegExpirationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldRegistrationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldRegistrationLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldRegistrationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varThisHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountHistory</objectType>
    </variables>
</Flow>
