force-app/main/default/flows/Revert_Account_to_Previous_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Reg_Levels</name>
        <label>Email Reg Levels</label>
        <locationX>1065</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RegLevels</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reg Levels</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jenniferl@awana.org</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fast_Lookup_Fault_Message</name>
        <label>Fast Lookup Fault Message</label>
        <locationX>521</locationX>
        <locationY>83</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error in Fast Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jenniferl@awana.org</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Registration_Level</name>
        <label>Assign Registration Level</label>
        <locationX>591</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>varOldRegistrationLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentRegistrationLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Registration_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Registration_Status</name>
        <label>Assign Registration Status</label>
        <locationX>800</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>varOldRegistrationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Membership_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Field</name>
        <label>Check Field</label>
        <locationX>311</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>LookupOtherHistoryFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Registration_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varThisHistory.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration_Level__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Registration_Level</targetReference>
            </connector>
            <label>Registration Level</label>
        </rules>
        <rules>
            <name>Registration_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varThisHistory.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration_Status__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Registration_Status</targetReference>
            </connector>
            <label>Registration Status</label>
        </rules>
        <rules>
            <name>Expiration_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varThisHistory.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Date_Inactive__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Expiration_Date</targetReference>
            </connector>
            <label>Expiration Date</label>
        </rules>
        <rules>
            <name>Registration_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varThisHistory.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration_Date__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Registration_Date</targetReference>
            </connector>
            <label>Registration Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_values_did_not_change</name>
        <label>Check if values did not change</label>
        <locationX>579</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Check_Registration_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RegistrationLevelBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldRegistrationLevel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Registration_Level</targetReference>
            </connector>
            <label>RegistrationLevelBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Membership_Product</name>
        <label>Check Membership Product</label>
        <locationX>1004</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Check_New_Church</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Upgrade_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMembershipProduct</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Upgrade_Product</targetReference>
            </connector>
            <label>Upgrade Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Church</name>
        <label>Check New Church</label>
        <locationX>1198</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Non_Upgrade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NewChurch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinstated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Non_Upgrade_New_Church</targetReference>
            </connector>
            <label>NewChurch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Registration_Status</name>
        <label>Check Registration Status</label>
        <locationX>768</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Check_Membership_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RegistrationStatusBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldRegistrationStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Registration_Status</targetReference>
            </connector>
            <label>RegistrationStatusBlank</label>
        </rules>
    </decisions>
    <description>This flow reverts account to previous state based on account history.  Needs Account ID, Membership Product, Registration Level, Registration Status and Opportunity Date</description>
    <formulas>
        <name>ConvertExpirationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varOldExpirationDate})</expression>
    </formulas>
    <formulas>
        <name>ConvertRegistrationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varOldRegistrationDate})</expression>
    </formulas>
    <interviewLabel>Revert Account to Previous State {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revert Account to Previous State</label>
    <loops>
        <name>Loop_Through_Account_History</name>
        <label>Loop Through Account History</label>
        <locationX>311</locationX>
        <locationY>192</locationY>
        <assignNextValueToReference>varThisHistory</assignNextValueToReference>
        <collectionReference>varColHistory</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_values_did_not_change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>933</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varCurrentRegistrationLevel</assignToReference>
            <field>Registration_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrentStatus</assignToReference>
            <field>Registration_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_History</name>
        <label>Lookup Account History</label>
        <locationX>308</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fast_Lookup_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varCreateDate</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputReference>varColHistory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Field</queriedFields>
        <queriedFields>OldValue</queriedFields>
        <queriedFields>NewValue</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Expiration_Date</name>
        <label>Lookup Expiration Date</label>
        <locationX>43</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisHistory.Id</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputAssignments>
            <assignToReference>varOldExpirationDate</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Registration_Date</name>
        <label>Lookup Registration Date</label>
        <locationX>219</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisHistory.Id</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputAssignments>
            <assignToReference>varOldRegistrationDate</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Registration_Level</name>
        <label>Lookup Registration Level</label>
        <locationX>548</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisHistory.Id</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputAssignments>
            <assignToReference>varOldRegistrationLevel</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Registration_Status</name>
        <label>Lookup Registration Status</label>
        <locationX>394</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisHistory.Id</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputAssignments>
            <assignToReference>varOldRegistrationStatus</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupOtherHistoryFields</name>
        <label>LookupOtherHistoryFields</label>
        <locationX>698</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisHistory.Id</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
        <outputAssignments>
            <assignToReference>varContainer</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Non_Upgrade</name>
        <label>Update Account Non Upgrade</label>
        <locationX>1200</locationX>
        <locationY>318</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Inactive__c</field>
            <value>
                <elementReference>ConvertExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Date__c</field>
            <value>
                <elementReference>ConvertRegistrationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Level__c</field>
            <value>
                <elementReference>varOldRegistrationLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <elementReference>varOldRegistrationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Non_Upgrade_New_Church</name>
        <label>Update Account Non Upgrade New Church</label>
        <locationX>1415</locationX>
        <locationY>191</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Inactive__c</field>
            <value>
                <elementReference>ConvertExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Date_Added__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Date__c</field>
            <value>
                <elementReference>ConvertRegistrationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Level__c</field>
            <value>
                <elementReference>varOldRegistrationLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <elementReference>varOldRegistrationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Upgrade_Product</name>
        <label>Update Account Upgrade Product</label>
        <locationX>1016</locationX>
        <locationY>328</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Registration_Level__c</field>
            <value>
                <elementReference>varOldRegistrationLevel</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Lookup_Account_History</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>NotUpgrade</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is not an upgrade product so I will update the following:
Registration Status: {!varOldRegistrationStatus}
Registratioh Level: {!varOldRegistrationLevel}
Expiration Date: {!ConvertExpirationDate}
Registration Date: {!ConvertRegistrationDate}</text>
    </textTemplates>
    <textTemplates>
        <name>RegLevels</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Current Level: {!varCurrentRegistrationLevel}
Old Level: {!varOldRegistrationLevel}</text>
    </textTemplates>
    <textTemplates>
        <name>UpgradeProduct</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is an upgrade so I will update only the Membership Level to {!varOldRegistrationLevel}</text>
    </textTemplates>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountHistory</objectType>
    </variables>
    <variables>
        <name>varContainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRegistrationLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMembershipProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewRegistrationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewRegistrationLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldExpirationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldRecentAddedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldRegistrationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldRegistrationLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOldRegistrationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varThisHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountHistory</objectType>
    </variables>
</Flow>
