force-app/main/default/flows/Send_Welcome_and_Instruction_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Instruction_Email</name>
        <label>Send Instruction Email</label>
        <locationX>360</locationX>
        <locationY>533</locationY>
        <actionName>ChargentOrders__ChargentOrder__c.MZ_Instruction_Email</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varChargentOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Instruction_Email_for_Upgrade</name>
        <label>Send Instruction Email for Upgrade</label>
        <locationX>115</locationX>
        <locationY>531</locationY>
        <actionName>ChargentOrders__ChargentOrder__c.MZ_Instruction_Email</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varChargentOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_R1_Membership_Welcome</name>
        <label>Send R1 Membership Welcome</label>
        <locationX>594</locationX>
        <locationY>20</locationY>
        <actionName>ChargentOrders__ChargentOrder__c.TR_R1_Membership_Welcome</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varChargentOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_R2_Membership_Welcome</name>
        <label>Send R2 Membership Welcome</label>
        <locationX>743</locationX>
        <locationY>157</locationY>
        <actionName>ChargentOrders__ChargentOrder__c.TR_R2_Membership_Welcome</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Instruction_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varChargentOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_R3_Membership_Welcome</name>
        <label>Send R3 Membership Welcome</label>
        <locationX>749</locationX>
        <locationY>325</locationY>
        <actionName>ChargentOrders__ChargentOrder__c.TR_R3_Membership_Welcome</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Instruction_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varChargentOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_R4_Welcome_Email</name>
        <label>Send R4 Welcome Email</label>
        <locationX>748</locationX>
        <locationY>537</locationY>
        <actionName>ChargentOrders__ChargentOrder__c.TR_R4_Membership_Welcome</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Instruction_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varChargentOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Membership_Purchase</name>
        <label>Check Membership Purchase</label>
        <locationX>324</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>R1_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_R1_Membership_Welcome</targetReference>
            </connector>
            <label>R1 Purchase</label>
        </rules>
        <rules>
            <name>R2_Purchase_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_R2_Membership_Welcome</targetReference>
            </connector>
            <label>R2 Purchase New</label>
        </rules>
        <rules>
            <name>R3_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_R3_Membership_Welcome</targetReference>
            </connector>
            <label>R3 Purchase</label>
        </rules>
        <rules>
            <name>R4_Purchase_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_R4_Welcome_Email</targetReference>
            </connector>
            <label>R4 Purchase New</label>
        </rules>
        <rules>
            <name>R2_to_R4_Purchase_Renewed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Instruction_Email</targetReference>
            </connector>
            <label>R2 to R4 Purchase Renewed</label>
        </rules>
        <rules>
            <name>Upgrade_Purchase</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UR2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UR3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegProd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UR4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Instruction_Email_for_Upgrade</targetReference>
            </connector>
            <label>Upgrade Purchase</label>
        </rules>
    </decisions>
    <description>This flow sends out the welcome and instructions email based on account registraiton status and registraiton product purchased. Updated Opportunity query to Order</description>
    <interviewLabel>Send Welcome and Instruction Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Welcome and Instruction Email</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Account_Registration_Status</name>
        <label>Lookup Account Registration Status</label>
        <locationX>324</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Membership_Purchase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varRegStatus</assignToReference>
            <field>Registration_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Email_and_Membership_Product_Purchased</name>
        <label>Lookup Email and Membership Product Purchased</label>
        <locationX>321</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account_Registration_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChargentOrderId</assignToReference>
            <field>Chargent_Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRegProd</assignToReference>
            <field>Registration_Product__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Email_and_Membership_Product_Purchased</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This field will store the Chargent Order record id which will be used to send to input to the Email alerts</description>
        <name>varChargentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Opportunity ID</description>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegProd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
