force-app/main/default/flows/Update_Mozo_Level_When_Downgrade_to_R0_or_R1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_ID_to_Collection</name>
        <label>Add ID to Collection</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varCollAffiliationsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopAffiliations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Affiliation_Collection_R1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Reg_Level_to_LMS</name>
        <label>Update Reg Level to LMS</label>
        <locationX>131</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>varLoopAffiliations.Mozo_User_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LMS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ID_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Reg_Level_to_None</name>
        <label>Update Reg Level to None</label>
        <locationX>387</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>varLoopAffiliations.Mozo_User_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ID_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Mozo_Levels_Depending_on_Registration_Level</name>
        <label>Update Mozo Levels Depending on Registration Level</label>
        <locationX>244</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>Update_Reg_Level_to_None</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>R1_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reg_Level_to_LMS</targetReference>
            </connector>
            <label>R1 Level</label>
        </rules>
    </decisions>
    <description>When a user downgrades from R2 - R4, this flow updates the Mozo User Levels in all current contact affiliationas for the account.  This has the assignment and decision inside the flow.</description>
    <interviewLabel>Update Mozo Level When Downgrade to R0 or R1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Mozo Level When Downgrade to R0 or R1</label>
    <loops>
        <name>Loop_Through_Affiliation_Collection_R1</name>
        <label>Loop Through Affiliation Collection R1</label>
        <locationX>243</locationX>
        <locationY>272</locationY>
        <assignNextValueToReference>varLoopAffiliations</assignNextValueToReference>
        <collectionReference>varAffiliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Mozo_Levels_Depending_on_Registration_Level</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Mozo_Levels</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_current_affiliations_R1</name>
        <label>Lookup all current affiliations R1</label>
        <locationX>241</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Affiliation_Collection_R1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mozo_User_Level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mozo_User_Level__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrgID</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varAffiliations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mozo_User_Level__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mozo_Levels</name>
        <label>Update Mozo Levels</label>
        <locationX>545</locationX>
        <locationY>364</locationY>
        <inputReference>varCollAffiliationsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_all_current_affiliations_R1</startElementReference>
    <status>Active</status>
    <variables>
        <description>Collection of Current Affiliations</description>
        <name>varAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varCollAffiliationsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varLoopAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varMozoLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Organization ID</description>
        <name>varOrgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
