force-app/main/default/flows/Update_Mozo_User_Level_When_Downgrading_to_M0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_ID_to_Collection</name>
        <label>Add ID to Collection</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varCollAffiliationsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopAffiliations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Affiliation_Collection_M0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MOZO_User_Level_to_None</name>
        <label>Update MOZO User Level to None</label>
        <locationX>353</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>varLoopAffiliations.Mozo_User_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ID_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>When downgrading from M1-M4 to M0 then reset the all current affiliation Mozo User Levels to None</description>
    <interviewLabel>Update Mozo User Level When Downgrading to M0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Mozo User Level When Downgrading to M0</label>
    <loops>
        <name>Loop_Through_Affiliation_Collection_M0</name>
        <label>Loop Through Affiliation Collection M0</label>
        <locationX>203</locationX>
        <locationY>153</locationY>
        <assignNextValueToReference>varLoopAffiliations</assignNextValueToReference>
        <collectionReference>varAffiliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_MOZO_User_Level_to_None</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Mozo_Levels</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_current_affiliations_M0</name>
        <label>Lookup all current affiliations M0</label>
        <locationX>206</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Affiliation_Collection_M0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mozo_User_Level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mozo_User_Level__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrgID</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varAffiliations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mozo_User_Level__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mozo_Levels</name>
        <label>Update Mozo Levels</label>
        <locationX>747</locationX>
        <locationY>174</locationY>
        <inputReference>varCollAffiliationsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_all_current_affiliations_M0</startElementReference>
    <status>Active</status>
    <variables>
        <description>Collection of Current Affiliations</description>
        <name>varAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varCollAffiliationsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varLoopAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varMOZOLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMozoUserLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Organization ID</description>
        <name>varOrgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
