force-app/main/default/flows/Update_Account_Owner_As_Primary_Missionary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Updating_Account_Owner</name>
        <label>Error Updating Account Owner</label>
        <locationX>598</locationX>
        <locationY>106</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>faultBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>bajibasha.s@accionlabs.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CustomSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>VerifyAccountTeamMember</name>
        <label>VerifyAccountTeamMember</label>
        <locationX>316</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IFAccountTeamMemberIsPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPMissionaryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Missionary_As_Account_Owner</targetReference>
            </connector>
            <label>IFAccountTeamMemberIsPresent</label>
        </rules>
    </decisions>
    <description>Updates the Acocunt owner withg the Primary Missionary&apos;s User Id who is listed as an Account Team Member whenever an account is new, renewed or the physical county field has been updated.</description>
    <interviewLabel>Update Account Owner As Primary Missionary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Owner As Primary Missionary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Team_Primary_Missionary</name>
        <label>Get Account Team Primary Missionary</label>
        <locationX>314</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyAccountTeamMember</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Account_Owner</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Missionary</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varPMissionaryId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Primary_Missionary_As_Account_Owner</name>
        <label>Add Primary Missionary As Account Owner</label>
        <locationX>316</locationX>
        <locationY>335</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPMissionaryId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Team_Primary_Missionary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>There was an erro updating the Account Owner to contain the  Primary Missionary ID.</text>
    </textTemplates>
    <textTemplates>
        <name>faultBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The UserId for the Primary Missionary might not exist</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPMissionaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
