force-app/main/default/flows/Update_Contact_Mialing_address_with_Account_Billing_address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>589</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>IsContactDetails.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountDeatils.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsContactDetails.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountDeatils.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsContactDetails.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountDeatils.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsContactDetails.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountDeatils.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsContactDetails.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountDeatils.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <description>Flow to update contact mailing address with account billing address values when the custom button clicked on Contact.</description>
    <interviewLabel>Update Contact Mialing address with Account Billing address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Mialing address with Account Billing address</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Account_Details</name>
        <label>Fetch Account Details</label>
        <locationX>250</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_the_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountDeatils</outputReference>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Billing_County__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_the_Contact</name>
        <label>Find the Contact</label>
        <locationX>253</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId1</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>IsContactDetails</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>882</locationX>
        <locationY>188</locationY>
        <inputReference>IsContactDetails</inputReference>
    </recordUpdates>
    <startElementReference>Fetch_Account_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>IsContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IsContactDetails1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vAccountDeatils</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMilingStreet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
